body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: antiquewhite;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: sandybrown;
}

p {
    padding: 0 15%;
}

footer {
    background-color: lightgrey;
}